/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   html,body{
     margin:0;
     overflow-x: hidden;
   }
   .content-wrapper{
     max-width: 360px;
   }
   /* -------------------- Base Header - Footer Styles -------------------- */
   header,
   footer {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }

/* ------------------ Header ------------------- */

   header .content-wrapper{
     display:flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 60%;
     padding: 15px 0;
     margin: 0;
   }

   header img{
     padding: 0 0 15px 0;
     display: flex;
     justify-content: center;
     align-items: center;
  }
   header .class-divider{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 90%;
   }

   header nav {
     margin:0;
     width: 100%;
     padding: 20px 0px 20px 0px;
   }

   header nav ul li{
     width: 30%;
     display: inline-flex;
     justify-content: space-between;
     align-items: center;
     flex-flow: row wrap;
     padding-left: 20px;
     margin: 0;
 }

 header nav ul li a {
   text-decoration: none;
 }

/* ---------------- FOOTER ---------------- */

footer .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  padding: 52px 80px;
  flex-direction: column;
}

footer address .contact{
  display: flex;
}

footer h4 {

}

footer p{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social {
  display: flex;
}

footer .social-icons a{
  display: flex;
  justify-content:center;
  align-items: center;
}

footer .copyright p{
display: flex;
justify-content: flex-end;
align-items: baseline;
flex-direction: column;

}


/* ----------------------------- MAIN HOMEPAGE -------------------------- */

section .hero-area .content-wrapper{
  width: 84%;
  padding: 60px 20px;
}

section .hero-area img{

}

section h1{
  padding: 60px 20px;
}

aside .form-description{
  display: flex;
  padding: 30px 20px;
}

aside h3{

}

aside p{
  padding: 15px 20px;

}

aside .form{
 display: flex;
 justify-content: center;
 align-items: center;
}

aside input{
  padding: 15px 20px;
}

/***** FEATURES SECTION *****/

section .features{

}

section .features .content-wrapper{
  display: flex;
  width: 89%;
  padding: 46px 17px;
}

section h2{
  padding: 46px 17px;
}

.features-items{

}

.features-items article{
}


article .fontawesome-icon{
display: flex;
}

article .features-item-description{
 display: flex;
 padding: 37px 80px;
}

article .features-item-description p{
margin: 0;

}
/*****  REVIEWS SECTION *****/

section .reviews .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 97%;
}

section .review h2{
  padding: 30px 20px;
}
/* section h2 for reviews is same as features section h2 */

.reviews article h3{
  width: 48%;
  padding: 16px 20px;
}

.reviews article p{
  padding: 3px 20px 20px 20px;
}

/* ----------------------------- MAIN ABOUT PAGE -------------------------- */

section .mission{
}

section .mission .content-wrapper{
  display: flex;
  width: 89%;
  padding: 51px 20px;
}

.mission p{
  padding: 20px 20px;
}

.map{
  display: flex;
}

.contact-section{

}

section .contact-section .content-wrapper{
  display: flex;
  width: 87%;
  padding: 52px 20px;
  flex-direction: column;
  margin: 0;
}

.contact-section .content-wrapper h2{
  margin-bottom: -40px;
}


.contact-section .content-wrapper h3{
  padding: 0px 20px;
  margin: 0;
}

.contact-section .content-wrapper p{
 padding: 5px 20px 15px 20px;
 margin:0;
}


/* ----------------------------- MAIN FAQ PAGE -------------------------- */


main .faq{

}

main .faq .content-wrapper{
  display: flex;
  width: 100%;
  padding: 50px 20px;
  margin: 0;
}

.faq-content{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 20px;
  margin: 0;
}

.faq-content h4{
  margin:0;
  padding: 5px 20px;

}

.faq .content-wrapper h2 {
padding: 5px 20px;
margin: 0;
}

.faq-content p{
  padding: 5px 20px;
  margin: 0;
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

 @media only screen and (min-width: 768px){
 /*Tablet styles here*/


 /* ------------------ HEADER & FOOTER ------------------- */

/* ------- HEADER ------- */


  header{
    width: 83.33%;
    display: flex;
    flex-flow: row;
  }

  header .content-wrapper{
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 20px 64px 0px 64px;
 }

 header img{
   padding: 0 400px 0px 120px;
   width: 20.15%;
 }

 header .class-divider{
   display: flex;
   justify-content: center;
   align-items: center;
   width:0%;
 }

 header nav {
   margin:0;
   width: 30%;
   padding: 20px 0px 20px 150px;
   display: flex;
   flex-flow: row;
 }

 header nav ul li{
   width: 50%;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   flex-flow: wrap;
   padding-left: 70px;
   margin: -80px;
}


/* ----------- FOOTER ----------- */

footer .footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .contact {
  margin-left: -30px;
}

footer .social{
  margin-left: 180px;
  margin-top: -55px;
}

/* ----------------------------- MAIN HOMEPAGE -------------------------- */

section h1{
  padding: 60px 60px;
  width:100%;
  margin: 0;
}

aside{
  display: flex;
  flex-flow: row;
}
aside .form-description{
  display: flex;
  padding: 30px 0px 30px 60px;
  flex-flow: column;
  width: 50%;
  margin: 0;
}

aside h3{
  margin: 0;
}

aside p{
  margin: 0;
  padding-left: 0px;
}

aside .form{
  width: 50%;
  margin: 0;
  padding-right: 40px;
}

/*-----------   FEATURES SECTION ---------*/

.features h2{
  width: 100%;
  padding-left: 60px;
}

.features-items{
  width: 100%;

}


 .item-duo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

 section .features .content-wrapper{
  display: flex;
  width: 100%;
  padding: 50px 50px;
  margin:0;
}

 .features-item-description{
   width: 100%;
   margin: 0;
 }

 article{
   padding: 0 80px 0 30px;
}


 /* ----------------- REVIEWS -------------- */

section .reviews h2{
  padding-left: 140px;
  margin:0;
}

section .reviews h3{
}


/* ----------------------------- ABOUT PAGE -------------------------- */

.mission .content-wrapper{
  width: 80%;
}

 .mission{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}



.mission-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200%;
  margin-left: -155px;
}
/*---- MAP ---- */

figure{
  margin: 300px;
}

/*--- contact ---*/

.contact-section .content-wrapper{
  width:100%;
}

.contact-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  width: 165%;
  margin: 20px 0px 0px 0px;
  }

.contact-section h2{
  padding-left: 70px;
  margin: 0;
}

/* ----------------------------- FAQ PAGE -------------------------- */

.faq .content-wrapper {
  margin:0 0 260px 0;
    }

    .faq-content {
      display: flex;
      flex-basis: 40%;
      margin: 0;
      padding-left: 140px;
    }


.faq-duo{
  width: 200%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 0 0 -95px;
}

.faq .content-wrapper h2 {
  width: 100%;
  padding-left: 60px;
}

.div{
  margin-bottom: 20px;
}

.faq-content h4{
  width: 140%;
}

.faq-content p{
width: 138%;
}

}

 @media only screen and (min-width: 1200px){

 }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
